.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.text-gradient {
    background: linear-gradient(to left, #f43f5e, #f59e0b); /* Gradient from red-700 to orange-500 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  